@import '../../../styles/mantine';

.container {
  display: flex;
  width: 240px;
  padding: 16px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;

  > img {
    align-self: stretch;
    border-radius: var(--mantine-radius-primary);
    height: 156px;
    object-fit: cover;
  }

  .error {
    filter: grayscale(1);
    padding: 8px;
    align-self: auto;
    max-height: 156px;
  }

  img.error {
    object-fit: contain;
    max-height: 100px;
  }
}

.selectRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 120px;
  margin-top: 8px;

  > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
