@import '../../../styles/mantine';

.container {
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
    border-radius: 4px;
    background: var(--mantine-color-white-0);
    box-shadow: var(--mantine-shadow-primary); 
}
