@import '../../../styles/mantine';

.container {
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
    border-radius: var(--mantine-radius-primary);
    background: var(--mantine-color-white-0);
    box-shadow: var(--mantine-shadow-primary); 
}

.formContainer {
    padding: 16px 8px;
    border-radius: var(--mantine-radius-primary);
    width: 100%;
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }
}