@import '../../../../styles/mantine';

.containerConfirmModal {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > div {
        display: flex;
        justify-content: center;
        }
    }
}

.containerCheckoutDoneModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    h4 {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }
}