@import '../../../styles/mantine';

.container {
  display: flex;
  padding: 120px 32px 120px;
  gap: 2rem;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 24px 16px 75px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    width: 360px;
    gap: 8px;

    @media (max-width: $mantine-breakpoint-md) {
      width: 100%;
    }
  }

  img {
    height: 840px;
    border-radius: var(--mantine-radius-primary);
    object-fit: cover;
    flex: 1 0 0;

    @media (max-width: $mantine-breakpoint-sm) {
      flex: auto;
    }
  }
}
