.container {
  display: flex;
  width: 100%;
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  background: var(--mantine-color-black-3);
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;

  @media (min-width: $mantine-breakpoint-sm) {
    gap: 24px;
  }
}

.burger {
  --__burger-color: var(--mantine-color-white-3) !important;
  /* margin-left: 24px; */
}

.bottomPosition {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
