.container {
  display: flex;
  width: 100%;
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  background: var(--mantine-color-black-3);
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s ease-in;
}

.hide {
  top: -100%;
  transition: top 1.5s ease-out;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;

  @media (min-width: 768px) {
    gap: 24px;
  }
}

.burger {
  --__burger-color: var(--mantine-color-white-3) !important;
}

.bottomPosition {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
