@import '../../../styles/mantine';

.container {
  flex-direction: column;
  transform: translateY(+198px);
  background: var(--mantine-color-black-3);
  display: flex;
  margin-bottom: calc(198px - 35px);

  @media (max-width: $mantine-breakpoint-sm) {
    transform: none;
    margin-top: 273px;
    margin-bottom: 0;

  }

  > div {
    display: inline-flex;
    align-items: flex-start;
    gap: 34px;

    @media (max-width: $mantine-breakpoint-sm) {
      flex-wrap: wrap;
      transform: translateY(-276px);
      margin: 0 16px;
      padding: 0;
      margin-bottom: calc(-155px);
      gap: 16px;
    }

    a {
      cursor: pointer;
      height: 100%;
      display: block;
    }

    .imageCard {
      position: relative;
      width: 352px;
      height: 480px;
      transition: transform 0.5s ease;

      @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
        height: 480px;
      }

      &:nth-of-type(1) {
        transform: translateY(-200px);

        @media (max-width: $mantine-breakpoint-sm) {
          transform: none;
        }
      }
      &:nth-of-type(2) {
        transform: translateY(-40px);

        @media (max-width: $mantine-breakpoint-sm) {
          transform: none;
        }
      }
      &:nth-of-type(3) {
        transform: translateY(-160px);

        @media (max-width: $mantine-breakpoint-sm) {
          transform: none;
        }
      }

      &:hover {
        transform: translateY(-216px) scale(1.1); 
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);

        @media (max-width: $mantine-breakpoint-sm) {
          transform: none; 
        }
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: var(--mantine-radius-primary);
        object-fit: cover;
      }

      .overlay {
        background-color: rgba(0, 0, 0, 0.333);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      h4 {
        position: absolute;
        top: 48px;
        z-index: 2;
        width: 100%;
        max-width: calc(100% - 16px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--mantine-color-white-3);
      }
    }
    .imageCard:nth-of-type(2):hover {
      transform: translateY(-56px) scale(1.1);
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);

      @media (max-width: $mantine-breakpoint-sm) {
        transform: none; 
      }
    }
    
    .imageCard:nth-of-type(3):hover {
      transform: translateY(-176px) scale(1.1);
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);

      @media (max-width: $mantine-breakpoint-sm) {
        transform: none; 
      }
    }
  }
}
