@import '../../../styles/mantine';

.container {
  padding: 48px 0 0;

  h2 {
    grid-column: 1 / -1;
    justify-self: flex-start;
  }

  .grid {
    display: grid;
    margin: 0 40px;
    grid-template-columns: repeat(3, 328px);
    gap: 32px 24px;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-lg) {
      grid-template-columns: repeat(2, 328px);
    }

    @media (max-width: $mantine-breakpoint-sm) {
      grid-template-columns: repeat(1, 328px);
    }
  }

  .bottom {
    grid-column: 1 / -1;
    justify-self: flex-start;

    h5 {
      margin-bottom: 8px;
    }
  }

  .information {
    grid-column: 1 / -1;
    justify-self: flex-start;
    max-width: 600px;
  }
}
