@import "../../../styles/mantine";

.container {
    display: flex;
    max-width: 560px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch; 
    border-radius: var(--mantine-radius-primary);
    background: var(--mantine-color-white-0);
    box-shadow: var(--mantine-shadow-primary);   
}

.imgContainer {
    max-width: 80px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--mantine-radius-primary);
    background-image: url('../../../../public/images/blueberry-pancakes.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;  
}

.titlePrice {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch; 
}

.selectRemove {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 120px;

    > div {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }