@import '../../../styles/mantine';

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.container {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  border-radius: var(--mantine-radius-secondary);
  background: var(--mantine-color-orange-3);
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.badge {
  display: flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  background: var(--mantine-color-black-3) !important;
  color: var(--mantine-color-white-3);
  font-size: 14px;
}

.noWrapContainer {
  white-space: nowrap;
}

.cart {
  color: var(--mantine-color-black-3);

  path {
    fill: currentColor;
  }
}
