@import "../../../styles/mantine";

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.totalPrice {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch; 
    border-radius: var(--mantine-radius-primary);
    background: var(--mantine-color-white-0);
    box-shadow: var(--mantine-shadow-primary);
}