@import '../../../styles/mantine';

.container {
  background-color: var(--mantine-color-black-3);
  padding: 92px 0px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding: 92px 0px;
  }

  .innerContainer {
    padding: 0 32px;
    @media (max-width: $mantine-breakpoint-sm) {
      padding: 0 16px;
    }
  }

  .text {
    color: var(--mantine-color-white-3);
    margin-bottom: 8px;
    max-width: 600px;
  }
}
