@import '../../../styles/mantine';



.container {
  display: flex;
  flex-direction: column;
  align-items: center;;
  
}

.boxContainer {
  display: flex;
  padding: 16px;
  gap: 16px;
  border-radius: var(--mantine-radius-primary);
  background: var(--mantine-color-white-0);
  box-shadow: var(--mantine-shadow-primary);
}

.bookingsContainer {
  flex-grow: 1;
  min-width: 20em;
}

